<div id="wrapper">
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-landmark"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Admin Pages</div>
    </a>
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="/account">
        <i class="fas fa-fw fa-user-friends"></i>
        <span>TÀI KHOẢN</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item ">
      <a class="nav-link" href="/danh-sach-thuoc">
        <i class="fas fa-fw fa-pills"></i>
        <span>DANH SÁCH THUỐC</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item ">
      <a class="nav-link" href="/co-so-san-xuat">
        <i class="fas fa-fw fa-bezier-curve"></i>
        <span>CƠ SỞ SẢN XUẤT</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item ">
      <a class="nav-link" href="/co-so-phan-phoi">
        <i class="fas fa-fw fa-ambulance"></i>
        <span>CƠ SỞ PHÂN PHỐI</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item ">
      <a class="nav-link" href="/co-so-kinh-doanh">
        <i class="fas fa-fw fa-archway"></i>
        <span>CƠ SỞ KINH DOANH</span></a>
    </li>

    <hr class="sidebar-divider d-none d-md-block" />
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
  </ul>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
          <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Nhập nội dung tìm kiếm..."
              aria-label="Search" aria-describedby="basic-addon2" />
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
        </form>
        <ul class="navbar-nav ml-auto">
          <!-- Tìm kiếm -->
          <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown Tìm Kiếm -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
              aria-labelledby="searchDropdown">
              <form class="form-inline mr-auto w-100 navbar-search">
                <div class="input-group">
                  <input type="text" class="form-control bg-light border-0 small"
                    placeholder="Nhập nội dung tìm kiếm..." aria-label="Search" aria-describedby="basic-addon2" />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </li>
          <!-- USER -->
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">Tài khoản</span>
            </a>
            <!-- ĐĂNG XUẤT -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="/notification">
                <i class="fas fa-bell fa-sm fa-fw mr-2 text-gray-400"></i>
                Thông báo
              </a>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Đăng xuất
              </a>
            </div>
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      ĐĂNG XUẤT?
                    </h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Bạn có muốn đăng xuất tài khoản không?
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">
                      Huỷ
                    </button>
                    <a class="btn btn-primary" href="/signout">Đăng xuất</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </nav>
      <div class="container-fluid">
        <div class="row">

          <div class="col-sm-12 table table-responsive">
            <div class="row">
              <div class="col-12 text-right">

                <button type="button" class="btn btn-sm btn-primary btn-create m-2 p-2" data-toggle="modal"
                  data-target="#addAccountModal">Thêm mới</button>
              </div>
            </div>

            {{!-- model create account--}}
            <div id="addAccountModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Thêm tài khoản mới
                    </h4>
                  </div>
                  <div class="modal-body">
                    <form action="/account/new-account" method="POST" enctype="multipart/form-data">
                      <div class="row form-group">
                        <div class="col-6"><label for="fullname">Họ và tên:</label>
                          <input type="text" name="fullname" class="form-control" placeholder="Nhập họ tên"
                            id="fullname"></div>
                        <div class="col-6"><label for="username">Tên tài khoản</label>
                          <input type="text" name="username" class="form-control" placeholder="Nhập tên tài khoản"
                            id="username"></div>
                      </div>

                      <div class="form-group">
                        <label for="phone">Số điện thoại:
                        </label>
                        <input type="text" class="form-control" name="phone" placeholder="Nhập số điện thoại"
                          id="phone">
                      </div>
                      <div class="form-group">
                        <label for="email">Email:
                        </label>
                        <input type="email" class="form-control" name="email" placeholder="Nhập email" id="email">
                      </div>
                      <div class="row form-group">
                        <div class="col-6"><label for="password">Mật khẩu:</label>
                          <input type="password" name="password" class="form-control" placeholder="Nhập họ tên"
                            id="password"></div>
                        <div class="col-6"><label for="username">Nhập lại mật khẩu:</label>
                          <input type="password" class="form-control" placeholder="Nhập tên tài khoản" id="repassword">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="image">Hình ảnh:</label>
                        <input type="file" class="form-control-file" id="image" name="image">
                      </div>
                      <div class="text-right">
                        <button type="submit" class="btn btn-primary">Thêm</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {{!-- model create  --}}
            <table id="account" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th class="th-sm">Họ và tên</th>
                  <th class="th-sm">Tên tài khoản</th>
                  <th class="th-sm">Email</th>
                  <th class="th-sm">Số điện thoại</th>
                  <th width="100" class="th-sm">Hình ảnh</th>
                  <th class="th-sm">Tuỳ chọn</th>
                </tr>
              </thead>
              <tbody>
                {{#each List}}
                <tr>
                  <td>{{fullname}}</td>
                  <td>{{username}}</td>
                  <td>{{email}}</td>
                  <td>{{phone}}</td>
                  <td width="100" class="th-sm text-center">
                    <img class="zoom" src="/uploads/{{image}}" alt="" width="50" height="50">
                    <style>
                      .zoom {
                        background-color: green;
                        transition: transform .2s;
                        width: 50px;
                        height: 50px;
                        margin: 0 auto;
                      }

                      .zoom:hover {
                        transform: scale(5.0);
                      }
                    </style>
                  </td>
                  <td width="100">
                    <a href="/account/edit/{{_id}}">Sửa</a>
                    <a href="/account/delete/{{_id}}"
                      onclick="return confirm('Bạn có muốn xoá tài khoản {{fullname}} không?')">Xoá</a>
                  </td>
                </tr>
                {{/each}}
                <!-- custom model image  -->
              </tbody>
              <tfoot>
                <tr>
                  <th class="th-sm">Họ và tên</th>
                  <th class="th-sm">Tên tài khoản</th>
                  <th class="th-sm">Email</th>
                  <th class="th-sm">Số điện thoại</th>
                  <th class="th-sm">Hình ảnh</th>
                  <th class="th-sm">Tuỳ chọn</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Trần Quốc Tuấn</span>
        </div>
      </div>
    </footer>
  </div>
</div>