<div class="container">
    <div class="d-flex flex-row justify-content-center align-items-center">
        <form action="/account/edit/" method="POST" class="card" style="margin-top: 200px" novalidate="novalidate"
            enctype="multipart/form-data">
            <div class="card-header text-center style-image">
                <div class="card-title">
                    <h3 class="text-center">Cập nhật thông tin</h3>
                    <input type="hidden" name="_id" value="{{Model._id}}">
                    <span>ID Account: {{Model._id}}</span>
                </div>
            </div>
            <div class="card-body">
                <div class="from-group">
                    <div class="row">
                        <div style="padding: 15px 0px 0px 15px" class="col-3 flex-row">
                            <img src="/uploads/{{Model.image}}" id="imageURL" width="100" height="100"
                                class="img-thumbnail img-preview">
                            <br>
                            <input type="hidden" name="imagehide" value="{{Model.image}}">
                            <input type="file" name="image" id="image" value="/uploads/{{Model.image}}" hidden>
                            <label for="image" class="d-flex justify-content-center label-style">Thay đổi</label>
                        </div>
                        <script>
                            window.onload = function () {
                                function readURL(input) {
                                    if (input.files && input.files[0]) {
                                        var reader = new FileReader();

                                        reader.onload = function (e) {
                                            document.querySelector('.img-preview').setAttribute('src', e.target.result);
                                        };
                                        reader.readAsDataURL(input.files[0]);
                                    }
                                }
                                var imageInput = document.querySelector('#image');
                                imageInput.onchange = changeEventHandler;

                                function changeEventHandler(event) {
                                    readURL(this);
                                }
                            };
                        </script>
                        <div class="col-9">
                            <label for="fullname" class="control-label mb-1">Họ và tên: </label>
                            <input id="fullname" name="fullname" type="text" class="form-control" aria-required="true"
                                aria-invalid="false" value="{{Model.fullname}}">
                            <label for="username" class="control-label mb-1">Tên tài khoản: </label>
                            <input id="username" name="username" type="text" class="form-control" aria-required="true"
                                aria-invalid="false" value="{{Model.username}}">
                        </div>
                    </div>
                </div>
                <div class="form-group" style="display: none">
                    <label for="old-pass" class="control-label mb-1">Mật khẩu cũ: </label>
                    <input id="old-pass" name="password" type="text" class="form-control" value="" autocomplete="off">
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="email" class="control-label mb-1">Email: </label>
                            <input id="email" name="email" type="email" class="form-control" value="{{Model.email}}">
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="phone" class="control-label mb-1">Số điện thoại: </label>
                        <input id="phone" name="phone" type="number" class="form-control" value="{{Model.phone}}">
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-info">
                    CẬP NHẬT
                </button>
                <a href="/account" class="btn btn-link">
                    Quay lại
                </a>
            </div>
        </form>
    </div>
</div>
<style>

</style>